.cartEmpty{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 1;
	p{
		font-size: 16px;
		text-align: center;
		opacity: 0.4;
		margin-bottom: 40px;
	}
}

.empty__img{
	width: 120px;
	margin-bottom: 20px
}

@media (max-width: 770px) {
	.cartEmpty{
		h2{font-size: 20px;}
		p{
			font-size: 14px;
			margin-bottom: 25px;
		}
	}

	.empty__img{
		width: 100px;
	}
}

@media (max-width: 550px) {
	.cartEmpty{
		h2{font-size: 18px;}
		p{font-size: 14px;}
	}

	.empty__img{
		width: 80px;
	}
}